<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    @vite(['resources/js/app.js'])
</head>
<body>

    <nav>
      <a href="/">home</a>
      <a href="/movie">movie</a>

    </nav>
    <h1 class="">
      It's works!
    </h1>
    <div class="text-black-500 bg-blue-500">
      test tailwind
    </div>
  </div>
</body>
</html>
