<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Page</title>
    @vite(['resources/js/app.js'])
</head>
<body>

  <div class="max-w-3xl mx-auto mt-6">
    <h1 class="text-blue-500 bg-red-500 mt-8">
      AdonisJS dengan Tailwind CSS!
    </h1>
    <div class="text-red-500 bg-blue-500">
      test
    </div>
  </div>
</body>
</html>
